services:
  watchtower:
    image: nickfedor/watchtower:1.12.3
    restart: always
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      WATCHTOWER_LABEL_ENABLE: true
      WATCHTOWER_POLL_INTERVAL: 30
      WATCHTOWER_CLEANUP: true
      REPO_USER: ${REPO_USER}
      REPO_PASS: ${REPO_PASSWORD}
